cn2an>=0.5.24
deepfilternet>=0.5.6
eng-to-ipa>=0.0.2
faster-whisper>=1.2.1
ffmpeg-python>=0.2.0
gradio>=6.26.0
inflect>=7.5.0
jieba>=0.42.1
langid>=1.1.6
librosa>=0.11.0
moviepy>=1.0.3
numpy>=1.26.4
openai-whisper>=20250625
pydub>=0.25.1
pypinyin>=0.55.0
setuptools>=80.10.2
soundfile>=0.14.0
torch>=2.1.0
translators>=6.0.4
unidecode>=1.4.0
wavmark>=0.0.3
whisper-timestamped>=1.15.9
pytubefix>=11.1.0
yt-dlp>=2025.1.26
unidic>=1.1.0
unidic-lite>=1.0.8
mecab-python3>=1.0.12
fugashi>=1.5.2
ipadic>=1.0.0
jamo>=0.4.1
g2pkk>=0.1.2
gruut>=2.4.0
g2p-en>=2.1.0
anyascii>=0.3.3
jaconv>=0.5.0
pykakasi>=2.3.0
cached-path>=1.8.10
txtsplit>=1.0.0
num2words>=0.5.14
onnxruntime>=1.29.0
